
 /*Banner  */
.navbar {
    background-image: url('../nav.png');
    background-size: cover;
    background-position: center;
  }
/* Dropdown === Hover */
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  /* Ad and Overlay */
  .ad {
    position: fixed;
    right: 10px;
    top: 30%;
    height: 500px;
    width: 400px;
  }

  .ad img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .ad .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }

  .bodyp{
    background-color: white;
  }

  /* Background */
  body {
    height: 100%;
    background-image: url('../back.jpg');
  }

  /* Whitespace */
  .center {
    z-index: 1;
    background-color: white;
    height: 100%;
    width: 60%;

    transform: translate(30%, 30%);
  }

  #skills {
    position: fixed;
    left: 10px;
    top: 30%;
    height: 550px;
    width: 250px;
  }